td {
    padding: 1rem;
    border-width: 1px;
    text-align: center;
    vertical-align: middle;
}
.leftTextAlign {
    text-align: left !important;
}

.custom-mx {
    max-width: 400px;
}

.custom-mx2 {
    max-width: 250px;
}