<div class="card h-100">
  <div class="p-3" (click)="showDetails()">
    <img [src]="productItem.image" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{productItem.title}}</h5>
      <p class="card-text">{{productItem.description | truncate}}</p>
      <p class="card-text">price: {{productItem.price | currency}}</p>
    </div>
  </div>
  <button class="btn btn-success w-50 mx-auto mt-auto mb-3" (click)="addToCart(productItem)">Add to Cart</button>
</div>