<div class="container p-5">
  <h2 class="text-center mb-3">Log In</h2>
  <form [formGroup]='loginForm' (ngSubmit)="submitValue()" class="editViews">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" [ngClass]="{'is-valid':controls.logInEmail.valid}" class="form-control"
        id="exampleInputEmail1" aria-describedby="emailHelp" name="logInEmail" formControlName="logInEmail">
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
      <div>
        <small *ngIf="controls.logInEmail.errors?.required && controls.logInEmail.touched">
          the emil is Required
        </small>
        <small *ngIf="controls.logInEmail.errors?.required && controls.logInEmail.touched">
          the emil is incorrect
        </small>
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="logInPassword"
        formControlName="logInPassword">
      <div id="emailHelp" class="form-text">Password has a minimum of 6 characters, at least 1 uppercase letter, 1
        lowercase letter, and 1 number with no spaces.</div>
      <div>
        <small *ngIf="controls.logInPassword.errors?.required && controls.logInPassword.touched">
          the password is Required
        </small>
        <small *ngIf="controls.logInPassword.errors?.required && controls.logInPassword.touched">
          the password is incorrect
        </small>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Log in</button>
  </form>
</div>
