<app-loader></app-loader>
<ng-container *ngIf="products.length !=0;else empty">
  <div class="container-fluid p-4 scrollTable">
    <table class="table table-responsive">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th>Product Name</th>
          <th>Product Image</th>
          <th>Description</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr app-cart-item *ngFor="let item of products; let i = index" [cartRow]="item"></tr>
        <tr>
          <td colspan="3" class="border-0"><button (click)="emptycart()" class="btn btn-danger w-100">Empty
              Cart</button></td>
          <td colspan="2" class="border-0"><button class="btn btn-success w-100" (click)="goTo('cart/checkout')">Checkout</button>
          </td>
          <td colspan="3"><strong>Grand Total : ${{grandTotal}}</strong></td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>



<ng-template #empty>
  <app-alerts></app-alerts>
  <div class="container align-items-center justify-content-evenly flex-column d-flex gap-3 p-3">
    <img src="../../../assets/images/empty.png" class="img-fluid" alt="Cart Empty">
    <h4>Your cart is empty!</h4>
    <h6>Add item to it now</h6>
    <a class="btn btn-primary" type="button" (click)="goTo('store')">Shop Now</a>
  </div>
</ng-template>
