<app-loader></app-loader>
<app-alerts></app-alerts>
<div class="container p-2">
  <div class="text-center my-2 p-2">
    <ul class="nav justify-content-center" #child>
      <li class="nav-item" (click)="getAll()">
        <a class="nav-link active pointer text-reset" aria-current="page" (click)="add($event)" >All Products</a>
      </li>
      <li class="nav-item" (click)="filter('electronics')">
        <a class="nav-link pointer text-reset" (click)="add($event)" >Electronics</a>
      </li>
      <li class="nav-item" (click)="filter('jewelery')">
        <a class="nav-link pointer text-reset" (click)="add($event)" >Jeweleries</a>
      </li>
      <li class="nav-item" (click)="filter('men')">
        <a class="nav-link pointer text-reset" (click)="add($event)" >Men's clothing</a>
      </li>
      <li class="nav-item" (click)="filter('women')">
        <a class="nav-link pointer text-reset" (click)="add($event)" >Women's clothing</a>
      </li>
    </ul>
  </div>
  <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4 g-4">
    <div class="col" *ngFor="let item of productList">
      <app-item [productItem]="item" (sendItem)="reciveItemDate($event)"></app-item>
    </div>
  </div>
  <nav aria-label="Page navigation example" *ngIf="pagination">
    <ul class="pagination justify-content-center my-3">
      <li class="page-item"><a class="page-link pointer" (click)="toPage(1)">1</a></li>
      <li class="page-item"><a class="page-link pointer" (click)="toPage(2)">2</a></li>
      <li class="page-item"><a class="page-link pointer" (click)="toPage(3)">3</a></li>
    </ul>
  </nav>
</div>
